{% extends 'accounts/main.html' %}
{% load static %}

{% block title %}Objectives{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/objectives.css' %}">
  <div class="background-layer"></div>
<div class="objectives-wrapper">
  <div class="objectives-box">
    <h2>General Objectives</h2>
    <ol>
      <li>Provide technical training and workshops to target beneficiaries;</li>
      <li>Increase the literacy, technological advancement, employment, and entrepreneurial rate of the community;</li>
      <li>Develop and integrate researches that can be utilized by the adopted community;</li>
      <li>Establish community-based farms;</li>
      <li>Increase men and women involvement and income-generating opportunities to target communities; and</li>
      <li>Strengthen linkages with the Local Government Unit and other Government Agencies and Non-Government Organization.</li>
    </ol>
  </div>
</div>

{% endblock %}
